<h1>Registered Users</h1>
<app-data-table (viewClickChild)="this.onRowClicked_ViewChild($event)" [displayedColumns]="this.displayedColumns"
    (deleteClick)="this.onRowClicked_Delete($event)" (viewClick)="this.onRowClicked_View($event)"
    (editClick)="this.onRowClicked_Edit($event)"></app-data-table>
<hr>


<app-create-object (submitClick)="this.refreshView()" (updateClick)="this.refreshView()"
    [createObjectFields]="this.createObjectFields" [inputService]="this.registeredUserService"></app-create-object>