<div style="display:flex; flex-direction: row;">


  <mat-card style="margin-right: 50px;">
    <mat-card-title *ngIf="this.isEditing">Edit</mat-card-title>
    <mat-card-title *ngIf="!this.isEditing">Create new</mat-card-title>

    <div class="form-container">
      <form [formGroup]="createObjectForm" (submit)="submit()">
        <ng-container *ngFor="let _inputField of this.createObjectFields">
          <mat-form-field appearance="standard">
            <mat-label>{{_inputField.name}}</mat-label>
            <ng-container *ngIf="_inputField.inputType == 'date';else notDateInput">

              <input matInput formControlName="{{_inputField.name}}" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker" style="float: right;"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </ng-container>
            <ng-template #notDateInput>

              <ng-container *ngIf="_inputField.hasOwnProperty('externalService')">
                <mat-select formControlName="{{_inputField.name}}">
                  <mat-option matInput *ngFor="let option of _inputField.externalServiceData" [value]="option">
                    {{_inputField.name}} ID: {{option.id}}
                  </mat-option>
                </mat-select>
              </ng-container>
              <input matInput formControlName="{{_inputField.name}}" type="{{_inputField.inputType}}">
            </ng-template>
            <ng-container *ngIf="_inputField.inputType == 'boolean' || _inputField.inputType == 'bool'">
              <mat-checkbox matInput formControlName="{{_inputField.name}}">{{_inputField.name}}?</mat-checkbox>
            </ng-container>
            <mat-error
              *ngIf="createObjectForm.controls[_inputField.name].touched && createObjectForm.controls[_inputField.name].invalid">
              <span *ngIf="createObjectForm.controls[_inputField.name].errors.required">This field is mandatory.</span>
            </mat-error>
          </mat-form-field> <br>
        </ng-container>

        <ng-container *ngIf="this.isEditing; else elseTemplate">

          <button mat-raised-button style="background-color: forestgreen; margin-right: 5px;"
            type="submit">Update</button>
          <button mat-raised-button class="" color="primary" (click)="this.cancelEdit()">Cancel <mat-icon
              style="display: inline;">cancel</mat-icon></button>
        </ng-container>
        <ng-template #elseTemplate>

          <h2>Upload File</h2>
          <!-- Because a plain input of type file is impossible to style properly, what we end up doing is hiding it from the user, and then building an alternative file upload UI that uses the file input behind the scenes. -->
          <input type="file" class="file-input" style="display: none;" (change)="onFileSelected($event)" #fileUpload>
          <div class="file-upload">
            {{this.fileToUpload ? this.fileToUpload.name : "Upload XML File"}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <hr>
          <ng-container *ngIf="this.fileToUpload != null; else nonUploadCreate">
            <button mat-stroked-button style="background-color: green; color: #fff;" type="submit" (click)="this.uploadFile()">Upload XML</button>
          </ng-container>
          <ng-template #nonUploadCreate>
            <button mat-raised-button color="primary" type="submit">Create</button>

          </ng-template>
        </ng-template>


      </form>
    </div>
  </mat-card>
</div>