<!-- Data passed to the mat-table component using the dataSource input.
Mat-sort header is used to allow each column to be sorted in asc or desc order -->
<div class="mat-elevation-z2 data-table">
  <table mat-table class="full-width-table mat-elevation-z2" style="width: 100%;" [dataSource]="dataSource" matSort
    aria-label="Elements">
    <ng-container *ngFor="let displayColumn of this.displayedColumns" matColumnDef={{displayColumn.name}}>

      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayColumn.name}}</th>

      <ng-container *ngIf="displayColumn.name != 'actions'; else elseTemplate">

        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="isObject(row[displayColumn.name]);else elseTemplate2">
            <button mat-button (click)="onRowClicked_ViewChild(row[displayColumn.name])" matTooltip="View object">
              View
              {{row[displayColumn.name]['id']}}
              <mat-icon>open_in_new</mat-icon>
            </button>
          </ng-container>
          <ng-template #elseTemplate2>
            {{row[displayColumn.name]}}
          </ng-template>
        </td>
      </ng-container>
      <ng-template #elseTemplate>
        <td mat-cell *matCellDef="let row" style="display: flex; padding: 12px;">
          <!-- <button mat-raised-button style="margin-right: 10px;">View</button> -->
          <button mat-button (click)="onRowClicked_View(row)" matTooltip="View item">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-button (click)="onRowClicked_Edit(row)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="onRowClicked_Delete(row)" matTooltip="Delete" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-template>
    </ng-container>


    <!-- Sticky header added, onRowClick function added -->
    <tr mat-header-row *matHeaderRowDef="this.getColumnsToString(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: this.getColumnsToString();"></tr>
  </table>

  <!-- Add a paginator -->
  <mat-paginator #paginator [length]="this.dataSource.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>