<h1>Login</h1>
<div class="example-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Username
        </mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
          <span *ngIf="loginForm.controls.username.errors.required">This field is mandatory.</span>
          <!-- <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span> -->
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </div>
</div>