<main>
  <app-header [sidenav]="leftSidenav"></app-header>

  <mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</main>