<div class="sidenav_container" (mouseenter)="onSinenavToggle()" (mouseleave)="onSinenavToggle()"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

    <div class="user_menu">
      <mat-nav-list>
        <a mat-list-item [hidden]="!this.loginService.isLoggedIn()">
          <img class="jim"
            src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/06/21/931/524/694940094001_5800293009001_5800284148001-vs.jpg?ve=1&tl=1"
            alt="">
          <span class="m-2" [@animateText]="linkText ? 'show' : 'hide'">{{this.loginService.getUsername()}} </span>
          <!-- <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span> -->
        </a>
        <a mat-list-item [hidden]="this.loginService.isLoggedIn()">
          <span class="material-icons">
            account_circle
          </span>
        </a>
        <div>
          <a mat-list-item [hidden]="this.loginService.isLoggedIn()" [routerLink]="['/login']" >
            <mat-icon>login</mat-icon>
            <span class="m-2" [@animateText]="linkText ? 'show' : 'hide'">Log in</span>
          </a>
          <a mat-list-item (click)="this.loginService.logout()" [hidden]="!this.loginService.isLoggedIn()">
            <mat-icon>logout</mat-icon>
            <span class="m-2" [@animateText]="linkText ? 'show' : 'hide'">Log out</span>
          </a>

        </div>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-nav-list>
        <ng-container *ngFor="let page of pages">
          <a mat-list-item [routerLink]='page.link'>

            <mat-icon style="padding-right:5px;">{{page.icon}}</mat-icon>
            <span class="m-2" [@animateText]="linkText ? 'show' : 'hide'">{{ page.name }} </span>

          </a>
        </ng-container>
      </mat-nav-list>
    </div>
  </div>

  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSinenavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div>
</div>