<h1>Forum Users</h1>
<app-data-table [displayedColumns]="this.displayedColumns" (deleteClick)="this.onRowClicked_Delete($event)"
    (viewClick)="this.onRowClicked_View($event)" (viewClickChild)="this.onRowClicked_ViewChild($event)"
    (editClick)="this.onRowClicked_Edit($event)"></app-data-table>
<hr>


<app-create-object (submitClick)="this.refreshView()" (updateClick)="this.refreshView()"
    [createObjectFields]="this.createObjectFields" [inputService]="this.forumUserService"></app-create-object>