<h1 mat-dialog-title>Viewing item</h1>
<div mat-dialog-content>

  <table>

    <ng-container *ngIf="this._isDataArray();else singleObject">
      <ng-container *ngFor="let arrIndex of this.data; let i=index">
        <div *ngFor="let key of viewModelKeys; let ii=index">
          <tr>
            <td>{{key}}:</td>
            <td>{{this.data[i][key]}}</td>
          </tr>
        </div>
        <hr>
      </ng-container>

    </ng-container>
    <ng-template #singleObject >
      <ng-container *ngFor="let key of viewModelKeys; let i=index">
        <tr>
          <td>{{key}}:</td>
          <td>{{data[key]}}</td>
        </tr>
      </ng-container>
    </ng-template>
    <!-- <ng-container *ngFor="let key of viewModelKeys; let i=index">
      <tr>
        <td>{{key}}:</td>
        <td>{{data[key]}}</td>
      </tr>
    </ng-container> -->
  </table>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onOkClick()">Done</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>